server:
  port: 4050
  servlet:
    context-path: '/api/'

springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /swagger-ui/index.html

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/loja?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 10

  jpa:
    open-in-view: false

    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQL8Dialect

    properties:
      hibernate:
        show_sql: true
        format_sql: true
        jdbc:
          lob.non_contextual_creation: true
  output:
    ansi:
      enabled: Always
    SQL: debug
    type:
      descriptor:
        sql:
          BasicBinder: trace
